* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    
}

header {
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background-color: rgb(54, 54, 54);
    font-style: italic;
}

header img {
    height: 45px;
    border-radius: 5px;
    z-index: 1;
}

.links ul {
    display: flex;
    align-items: center;
}

.links li {
    list-style: none;
}

.links a {
    color: white;
    text-decoration: none;
    user-select: none;
}

.materias a {
    background-color: rgba(0, 0, 0, 0.075);
    padding-right: 40px;
}

.areadoaluno {
    margin-left: 600px;
    padding: 10px;
    border-radius: 27px;
    border: solid 3px white;
    background-color: rgba(48, 3, 3, 0.418);
}

main {
    background-color: wheat;
}

.home {
    height: 100vh;
    background-color: rgba(255, 234, 234, 0.856);
}

.entrada {
    display: flex;
    padding-top: 40vh;
    flex-direction: column;
    text-align: center;
}

.seta {
    width: 65px;
    top: 90vh;
    left: 47vw;
    position: absolute;
}

.home p {
    font-size: 16px;
}

.home h1{
    font-size: 50px;
}
.home h2 {
    text-align: center;
    padding-top: 33vh;
    font-size: 20px;
}

.sop {
    height: 100vh;
    padding: 0px 40px;
    background-color: rgb(194, 205, 235);
}

.sop p {
    text-align: justify;
    font-size: 20px;
    margin-left: 36vw;
}

.sop h2{
    font-size: 50px;
}
.sop h3 {
    font-size: 25px;
    padding-left: 5vw;
}

.titulosop {
    display: flex;
    padding-top: 20vh;
}

.fpoo {
    height: 100vh;
    padding: 0px 40px;
    background-color: rgb(124, 47, 47);
}

.fpoo p {
    text-align: justify;
    font-size: 20px;
    margin-right: 50vw;
}

.fpoo h2{
    font-size: 50px;
    padding-top: 20vh;
}
.fpoo h3 {
    font-size: 25px;
}

.hare {
    height: 100vh;
    padding: 0px 40px;
    background-color: turquoise;
}

.hare p {
    text-align: justify;
    font-size: 20px;
    margin-left: 36vw;
}

.hare h2{
    font-size: 50px;
}
.hare h3 {
    display: flex;
    font-size: 25px;
    padding-left: 5vw;
}

.titulohare {
    display: flex;
    padding-top: 20vh;
}


.lima {
    height: 100vh;
    padding: 0px 40px;
    background-color: violet;
}

.lima p {
    text-align: justify;
    font-size: 20px;
    margin-right: 50vw;
}

.lima h2{
    font-size: 50px;
    padding-top: 20vh;
}
.lima h3 {
    font-size: 25px;
}

footer {
    height: 10vh;
    padding: 0px 40px;
    background-color: blueviolet;
}