* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}

header {
    position: fixed;
    padding: 0px 40px;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(54, 54, 54);
    font-style: italic;
    z-index: 6;
}

header img {
    height: 45px;
    border-radius: 5px;

}

.links ul {
    display: flex;
    align-items: center;
}

.links li {
    list-style: none;
}

.links a {
    color: white;
    text-decoration: none;
    user-select: none;
}

.materias a {
    background-color: rgba(0, 0, 0, 0.11);
    padding-right: 40px;
}

.areadoaluno {
    margin-left: 600px;
    padding: 10px;
    border-radius: 27px;
    border: solid 3px white;
    background-color: rgba(48, 3, 3, 0.418);
}

main {
    background-color: wheat;
}

.home {
    height: 100vh;
    background-color: rgba(255, 217, 217, 0.856);
}

.entrada {
    display: flex;
    padding-top: 40vh;
    flex-direction: column;
    text-align: center;
}

.seta {
    width: 65px;
    top: 90vh;
    left: 47vw;
    position: absolute;
    z-index: 5;
}

.home p {
    font-size: 16px;
}

.home h1{
    font-size: 50px;
}
.home h2 {
    text-align: center;
    padding-top: 33vh;
    font-size: 20px;
}

.sop {
    height: 100vh;
    padding: 0px 40px;
    background-color: rgb(194, 205, 235);
}

.sop p {
    text-align: justify;
    font-size: 20px;
    margin-left: 36vw;
}

.sop h2{
    font-size: 50px;
}
.sop h3 {
    font-size: 25px;
    padding-left: 5vw;
}

.titulosop {
    display: flex;
    padding-top: 20vh;
}

.fpoo {
    height: 170vh;
    padding: 0px 40px;
    background-color: rgb(204, 151, 151);
}

.conteudo1fpoo {
    padding-top: 15vh;
}

.titulofpoo {
    display: flex;
    gap: 20px;
}

.fpoo p {
    text-align: justify;
    font-size: 20px;
}

.conteudo1fpoo h2{
    font-size: 50px;
}

.fpoo h3 {
    padding-top: 2vh;
    font-size: 25px;
}

.conteudo2fpoo {
    display: flex;
    padding-top: 5vh;
    gap: 10px;
}


.imgfpoo1 {
    width: 23vw;
}

.imgfpoo2 {
    width: 23vw;
}

.imgfpoo3 {
    width: 50vw;
}

.conteudo3fpoo {
    display: flex;
    padding-top: 5vh;
    gap: 10px;
}

.hare {
    height: 100vh;
    padding: 0px 40px;
    background-color: rgb(224, 64, 64);
}

.hare p {
    text-align: justify;
    margin-right: 40vw;
    font-size: 20px;
}

.hare h2{
    font-size: 50px;
    padding-top: 20vh;
}
.hare h3 {
    font-size: 25px;
    padding: 15px 0px;
}

.imghare1 {
    position: absolute;
    filter: opacity(40%);
    z-index: 3;
    width: 24vw;
    height: 65vh;
    left: 69vw;
    top: 388vh;
}

.imghare2{
    position: absolute;
    z-index: 4;
    width: 25vw;
    left: 70vw;
    top: 390vh;
}

.lima {
    height: 100vh;
    padding: 0px 40px;
    background-color: violet;
}

.lima p {
    text-align: justify;
    font-size: 20px;
    margin-right: 50vw;
}

.lima h2{
    font-size: 50px;
    padding-top: 20vh;
}
.lima h3 {
    font-size: 25px;
}

.videolima {
   padding-left: 50vw;
}

footer {
    height: 10vh;
    padding: 0px 40px;
    background-color: rgb(54, 54, 54); }